### ===============================
### PRESEED AUTO - DEBIAN (FR / AZERTY)
### ===============================

### Mode automatique - pas de questions
d-i auto-install/enable boolean true
d-i debconf/priority select critical
d-i debconf/frontend select noninteractive

### -------------------------------
### Langue / Pays / Localisation
### -------------------------------
d-i debian-installer/language string fr
d-i debian-installer/country string FR
d-i debian-installer/locale string fr_FR.UTF-8
d-i locales/locales_to_be_generated multiselect fr_FR.UTF-8 UTF-8

### -------------------------------
### Clavier (forcer AZERTY FR)
### -------------------------------
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select fr
d-i keyboard-configuration/layoutcode string fr
d-i keyboard-configuration/layout select Français
d-i keyboard-configuration/variant select Français
d-i keyboard-configuration/modelcode string pc105
d-i keyboard-configuration/variantcode string

### Fuseau horaire
d-i time/zone string Europe/Paris
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true

### -------------------------------
### Réseau
### -------------------------------
# Par défaut auto, sinon Lenovo :
d-i netcfg/choose_interface select auto
# d-i netcfg/choose_interface select enp0s25
d-i netcfg/get_hostname string debian-tp
d-i netcfg/get_domain string localdomain
d-i netcfg/disable_dhcp boolean false

### -------------------------------
### Dépôt Debian (miroir FR)
### -------------------------------
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### -------------------------------
### Partitionnement automatique
### -------------------------------
d-i partman-auto/method string regular
d-i partman-auto/disk string /dev/sda
d-i partman-auto/choose_recipe select atomic
# éviter toutes confirmations
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### -------------------------------
### Utilisateur
### -------------------------------
d-i passwd/root-login boolean false
d-i passwd/make-user boolean true
d-i passwd/user-fullname string Tiago Martins
d-i passwd/username string tiago
d-i passwd/user-password password titi12
d-i passwd/user-password-again password titi12

### -------------------------------
### Paquets
### -------------------------------
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server htop
d-i pkgsel/upgrade select none
d-i pkgsel/install-language-support boolean false

### -------------------------------
### GRUB
### -------------------------------
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

### -------------------------------
### Late command
### -------------------------------
# - Forcer clavier FR après reboot
# - Créer /home/helloword
d-i preseed/late_command string \
    in-target sh -c "echo 'XKBMODEL=\"pc105\"' > /etc/default/keyboard"; \
    in-target sh -c "echo 'XKBLAYOUT=\"fr\"' >> /etc/default/keyboard"; \
    in-target sh -c "echo 'XKBVARIANT=\"latin9\"' >> /etc/default/keyboard"; \
    in-target setupcon; \
    in-target update-initramfs -u; \
    in-target sh -c "echo 'Hello World!' > /home/helloword"; \
    in-target chown root:root /home/helloword; \
    in-target chmod 644 /home/helloword

### -------------------------------
### Fin
### -------------------------------
d-i finish-install/reboot_in_progress note
